 <!-- About Section -->
    <section class="blog" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color">Blog</h2>
                    <hr class="star-light blog">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <ul class="timeline">
                  <li>
                    {% for post in site.categories['blog'] limit:1 %}
                    <div class="timeline-image">
                      <a href="{{post.url}}" title="{{ post.title }}" >
                        <img src="img/timeline_images/{{post.thumbnail}}.png" class="img-circle img-responsive wp-post-image" alt>
                      </a>
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4><a href={{post.url}}>{{post.title}}</a></h4>
                        <h6>{{ post.date | date: '%B %d, %Y' }}</h6>
                      </div>
                      <div class="timeline-body">
                        <i class="fa fa-quote-left"></i>
                          <span style="padding-left: 15px; padding-right: 15px;">{{post.description}} </span>
                        <i class="fa fa-quote-right"></i>
                      </div>
                    </div>
                    {% endfor %}
                  </li>
                  <li class="timeline-inverted">
                    {% for post in site.categories['blog'] offset:1 limit:1 %}
                    <div class="timeline-image">
                      <a href="{{post.url}}" title="{{ post.title }}">
                        <img src="img/timeline_images/{{post.thumbnail}}.png" class="img-circle img-responsive wp-post-image" alt>
                      </a>
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4>{{post.title}}</h4>
                        <h6>{{ post.date | date: '%B %d, %Y' }}</h6>
                      </div>
                      <div class="timeline-body">
                        <i class="fa fa-quote-left fa-lg"></i>
                          <span style="padding-left: 15px; padding-right: 15px;">{{post.description}} </span>
                        <i class="fa fa-quote-right fa-lg"></i>
                      </div>
                    </div>
                    {% endfor %}
                  </li>
                  <li>
                    {% for post in site.categories['blog'] offset:2 limit:1 %}
                    <div class="timeline-image">
                      <a href="{{post.url}}" title="{{ post.title }}">
                      <img src="img/timeline_images/{{post.thumbnail}}.png" class="img-circle img-responsive wp-post-image" alt>
                      </a>
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4>{{post.title}}</h4>
                        <h6>{{ post.date | date: '%B %d, %Y' }}</h6>
                      </div>
                      <div class="timeline-body">
                        <i class="fa fa-quote-left fa-lg"></i>
                          <span style="padding-left: 15px; padding-right: 15px;">{{post.description}} </span>
                        <i class="fa fa-quote-right fa-lg"></i>
                      </div>
                    {% endfor %}
                  </li>
                <ul>
              </div>
            </div>

            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="/blog" class="btn btn-lg btn-outline drawkle-btn" style="margin-top: 0px;">
                    <i class="fa fa-download"></i> More Posts
                </a>
            </div>
        </div>
    </section>
