
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary portfolio">
                </div>
            </div>
            <div id="filters" class="filters">
              <ul>
                <li class="filter active" data-filter="*">All</li>
                <li class="filter" data-filter=".pixel-art">Pixel Art</li>
                <li class="filter" data-filter=".character-design">Character Design</li>
                <li class="filter" data-filter=".design">Design</li>
                <!--<li class="filter" data-filter=".web-development">Web Development</li> -->
              </ul>
            </div>


            <div class="row">

                <div id="portfolio-items" style="position: relative; height: 609.6875px;">
                      {% for post in site.categories['portfolio'] %}
                    <div class="col-xs-12 col-sm-6 col-md-4 item {% for tag in post.tags%} {{tag}} {%endfor%}">
                      <div class="portfolio-item" >
                          <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                              <div class="caption">
                                  <div class="caption-content">
                                      <i class="fa fa-search-plus fa-3x"></i>
                                  </div>
                              </div>
                              <img src="{{site.drive}}/portfolio/{{ post.img_preview }}" class="img-responsive" alt="{{ post.alt }}">
                          </a>
                      </div>
                    </div>
                        {% endfor %}
                  </div>

            </div>
            <!--
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="/blog" class="btn btn-success btn-lg drawkle-btn">
                    <i class="fa fa-download"></i> More Posts
                </a>
            </div>
            -->
        </div>
    </section>


    <script type="text/javascript">
  <!--//--><![CDATA[//><!--
    var images = new Array()
    function preload() {
      for (i = 0; i < preload.arguments.length; i++) {
        images[i] = new Image()
        images[i].src = preload.arguments[i]
      }
    }

    preload(

      {% for post in site.categories['portfolio'] %}
        {% if forloop.index < forloop.length%}
          "{{site.drive}}/portfolio/{{post.img}}",
        {%else%}
          "{{site.drive}}/portfolio/{{post.img}}"
        {% endif %}

      {%endfor%}
    )
  //--><!]]>
  </script>
